@import "tailwindcss";

@theme {
  /* TODO: Valores exactos por definir para estas variables:
  --color-ink: ...;
  --color-ink-soft: ...;
  --color-accent: ...;
  --color-accent-dim: ...;
  --color-plum: ...;
  --color-plum-deep: ...;
  --color-paper: ...;
  --color-muted: ...;
  --font-display: ...;
  --font-body: ...;
  */
}
